body {
	background-color: #444;
	color: #FFF;
	font-family: sans-serif;
	font-size: 32pt;
}

#trainer {
	text-align: center;
	padding: 20px;
	width: 800px;
	margin: auto;
	background-color: #222;
}

.caption {
	font-size: 16pt;
}

#trainer_game {
}

.button {
	display: inline-block;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	background-color: #0B0;
}

.button.deactivated {
	background-color: #444
}

#marker_zone {
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: fit-content;
	background-color: #444;
}

.marker {
	display: inline-block;
	overflow: hidden;
	padding: 20px;
	margin: 20px;
	width: 60px;
	height: 60px;
	background-color: #666;
}

.marker.playing {
	background-color: #888;
}

.marker.correct {
	background-color: #484;
}

.marker.incorrect {
	background-color: #844;
}

.marker.missing {
	background-color: #222;
}

.marker.typetarget {
	box-shadow: inset 0px 0px 0px 3px white;
}

#settings_zone {
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	background-color: #444;
}

.setting {
	font-size: 20pt;
	padding: 5px;
}

.setting_value {
	padding: 20px;
	background-color: #666;
}
