body {
	background-color: #444;
	color: #FFF;
	font-family: sans-serif;
	font-size: 32pt;
}

#trainer {
	padding: 20px;
	width: 800px;
	height: 600px;
	margin: auto;
	background-color: #222;
}

#begin {
	padding: 20px;
	width: fit-content;
	margin: auto;
	background-color: #0B0;
}
